doctype

html

    include ./includes/head.jade 

    body

        main.app

            include ./includes/weather.jade
            include ./includes/forecast.jade
            include ./includes/form.jade

            script
                include ../js/google-analytics.js
            script(src='/assets/js/app.js')

